{{#each errors}}
<div class="alert alert-danger">{{ message }}</div>
{{else}} {{/each}}
<div class="card">
    <div class="card-body">
        <h2 class="text-center">Add New Idea</h2>
        <form action="/newidea" method="post">
            <div class="form-group">
                <label for="idea">Idea:</label>
                <input type="text" class="form-control" id="idea" name="idea" value="{{ idea }}">
            </div>
            <div class="form-group">
                <label for="details">Details:</label>
                <textarea name="details" id="details" class="form-control">{{ details }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>